.App__Button {
  margin-top: 10px;
}
.Delete {
  margin-right: 5%;
}
.Delete__Button {
  border: none;
  background: none;
}
.Delete__Button--link {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 10%;
}
.Delete__Button--mark {
  font-size: 35px;
  font-weight: bold;
  color: red;
}
.Delete__Button--mark:hover {
  transform: scale(1.5);
}
