.App__Button {
  margin-top: 10px;
}
.Delete {
  margin-right: 5%;
}
.Delete__Button {
  border: none;
  background: none;
}
.Delete__Button--link {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 10%;
}
.Delete__Button--mark {
  font-size: 35px;
  font-weight: bold;
  color: red;
}
.Delete__Button--mark:hover {
  transform: scale(1.5);
}
.Trips__Container {
  display: flex;
  justify-content: space-around;
}
.Trips__Button {
  border: none;
  font-size: 50px;
  width: 20%;
}
.Trips__Button--green {
  color: green;
}
.Trips__Button--red {
  margin-top: 5px;
  color: red;
}
.Schedule__Button {
  border: none;
  background: none;
}
